PROJECT_NAME=PROJECT_NAME

# Jazzmin settings
JAZZMIN_TITLE=JAZZMIN_TITLE
JAZZMIN_HEADER=JAZZMIN_HEADER
JAZZMIN_BRAND=JAZZMIN_BRAN

# scheme settings
SCHEME_TITLE=SCHEME_TITLE
SCHEME_DESCRIPTION=SCHEME_DESCRIPTION
SCHEME_CONTACT=SCHEME_CONTACT

# django settings
SECRET_KEY=SECRET_KEY
DJANGO_SETTINGS_MODULE=DJANGO_SETTINGS_MODULE

# Database settings
DB_NAME=structure
DB_USER=postgres
DB_PASSWORD=postgres1234
DB_HOST=db
DB_PORT=5432

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

# redis and celery settings
REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT
REDIS_DB=REDIS_DB

CELERY_BROKER_URL=amqp://user:1234@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/0


# jwt 
ACCESS_TOKEN_LIFETIME=60 # minutes
REFRESH_TOKEN_LIFETIME=7 # days


# rabbitmq settings
RABBITMQ_USER=RABBITMQ_USER
RABBITMQ_PASSWORD=RABBITMQ_PASSWORD

EMAIL_BACKEND = EMAIL_BACKEND
EMAIL_HOST = EMAIL_HOST
EMAIL_PORT = EMAIL_PORT
EMAIL_USE_TLS = EMAIL_USE_TLS
EMAIL_HOST_USER = EMAIL_HOST_USER
EMAIL_HOST_PASSWORD = EMAIL_HOST_PASSWORD

DJANGO_SUPERUSER_EMAIL=DJANGO_SUPERUSER_EMAIL
DJANGO_SUPERUSER_PASSWORD=DJANGO_SUPERUSER_PASSWORD

# #Bot settings
# BOT_TOKEN=BOT_TOKEN
# ip=ip
# CHANNELS=CHANNELS